manuscript/response*
manuscript/coverletter*
manuscript/letterbib*
manuscript/Review_Stopping*
manuscript/Response*
results/results_fr.csv
*.bst
*.pyc
*__pycache__*
data/*
*.ipynb_checkpoints
*.aux
*.bbl
*.blg
*.lbf
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
#*
*#*
*~*
manuscript/build/*
results/*
